# extra temp files we don't need
**/.DS_Store
**/__pycache__
**/*.rdb

# test resources
**/resources
**/tmp

# kubernetes secrets
k8s/dockerconfigjson.yaml
k8s/minio-secret.yaml
k8s/job-database-secret.yaml
minio-secret.yaml
job-database-secret.yaml
web-controller-secret.yaml