version: '3'
services:
  redis:
    image: redis:5-alpine
    ports:
      - '6379:6379'
  extract-worker:
    build:
      context: .
      dockerfile: Dockerfile-extract
    depends_on:
      - "redis"
    environment:
      - REDIS_QUEUE=redis
  compose-worker:
    build:
      context: .
      dockerfile: Dockerfile-compose
    depends_on:
      - "redis"
    environment:
      - REDIS_QUEUE=redis
  queue-wrapper:
    build:
      context: work-queue/src/
    depends_on:
      - "redis"
    environment:
      - REDIS_QUEUE=redis
    ports:
      - '5000:5000'