apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: p1-ingress
  annotations:
    ingress.kubernetes.io/ssl-redirect: "false"
spec:
  rules:
  - http:
      paths:
      - path: /minio
        pathType: Prefix
        backend:
          service: 
            name: p2-minio
            port:
              number: 80
      - path: /wq
        pathType: Prefix
        backend:
          service:
            name: p2-queue-wrapper
            port:
              number: 80