# GIF Composer Worker Deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  name: p2-compose-worker
  labels:
    app: p2-compose-worker
spec:
  replicas: 1
  selector:
    matchLabels:
      app: p2-compose-worker
  template:
    metadata:
      labels:
        app: p2-compose-worker
    spec:
      containers:
      - name: backend 
        image: ghcr.io/cs-muic/scalable-p2-scalable-t3-code-dek-waen/p2-compose-worker
        imagePullPolicy: Always
        env:
        - name: MINIO_ENDPOINT
          valueFrom:
            secretKeyRef:
              name: p2-web-controller-secret
              key: minio-endpoint
        - name: MINIO_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              name: p2-web-controller-secret
              key: username
        - name: MINIO_SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: p2-web-controller-secret
              key: password
        - name: REDIS_QUEUE
          valueFrom:
            secretKeyRef:
              name: p2-web-controller-secret
              key: redis-queue
      imagePullSecrets:
      - name: dockerconfigjson-github-com
# Extract and Resize Worker Deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  name: p2-extract-worker
  labels:
    app: p2-extract-worker
spec:
  replicas: 1
  selector:
    matchLabels:
      app: p2-extract-worker
  template:
    metadata:
      labels:
        app: p2-extract-worker
    spec:
      containers:
      - name: backend 
        image: ghcr.io/cs-muic/scalable-p2-scalable-t3-code-dek-waen/p2-extract-worker
        imagePullPolicy: Always
        env:
        - name: MINIO_ENDPOINT
          valueFrom:
            secretKeyRef:
              name: p2-web-controller-secret
              key: minio-endpoint
        - name: MINIO_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              name: p2-web-controller-secret
              key: username
        - name: MINIO_SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: p2-web-controller-secret
              key: password
        - name: REDIS_QUEUE
          valueFrom:
            secretKeyRef:
              name: p2-web-controller-secret
              key: redis-queue
      imagePullSecrets:
      - name: dockerconfigjson-github-com
# Update Status Worker Deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  name: p2-update-status-worker
  labels:
    app: p2-update-status-worker
spec:
  replicas: 1
  selector:
    matchLabels:
      app: p2-update-status-worker
  template:
    metadata:
      labels:
        app: p2-update-status-worker
    spec:
      containers:
      - name: backend 
        image: ghcr.io/cs-muic/scalable-p2-scalable-t3-code-dek-waen/p2-update-status-worker
        imagePullPolicy: Always
        env:
        - name: REDIS_QUEUE
          valueFrom:
            secretKeyRef:
              name: p2-web-controller-secret
              key: redis-queue
        - name: WC_HOST
          value: p2-web-controller
        - name: WC_PORT
          value: '80'
      imagePullSecrets:
      - name: dockerconfigjson-github-com