name: Build Work Queue CI

on:
  push:
    branches: [ main ]

env:
  REGISTRY: ghcr.io
  BASE_IMG_NAME: ${{ github.repository }}

jobs:
  build-extract-worker:
    runs-on: ['lol']
    permissions:
      contents: read
      packages: write
    steps:
    - name: Check out the repo
      uses: actions/checkout@v3
    - name: Log in to registry
      uses: docker/login-action@v2 
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Derive short SHA name
      id: vars
      run: echo "::set-output name=sha_short::$(git rev-parse --short HEAD)"
    - name: Build image
      run: |
        docker build . --file Dockerfile-extract --no-cache \
        --tag ghcr.io/${{ env.BASE_IMG_NAME }}/p2-extract-worker:${{ steps.vars.outputs.sha_short }} \
        --tag ghcr.io/${{ env.BASE_IMG_NAME }}/p2-extract-worker:latest
    - name: Publish the image
      run: |
        docker push ghcr.io/${{ env.BASE_IMG_NAME }}/p2-extract-worker:${{ steps.vars.outputs.sha_short }}
        docker push ghcr.io/${{ env.BASE_IMG_NAME }}/p2-extract-worker:latest
  build-composer-worker:
    runs-on: ['lol']
    permissions:
      contents: read
      packages: write
    steps:
    - name: Check out the repo
      uses: actions/checkout@v3
    - name: Log in to registry
      uses: docker/login-action@v2 
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Derive short SHA name
      id: vars
      run: echo "::set-output name=sha_short::$(git rev-parse --short HEAD)"
    - name: Build image
      run: |
        docker build . --file Dockerfile-compose --no-cache \
        --tag ghcr.io/${{ env.BASE_IMG_NAME }}/p2-compose-worker:${{ steps.vars.outputs.sha_short }} \
        --tag ghcr.io/${{ env.BASE_IMG_NAME }}/p2-compose-worker:latest
    - name: Publish the image
      run: |
        docker push ghcr.io/${{ env.BASE_IMG_NAME }}/p2-compose-worker:${{ steps.vars.outputs.sha_short }}
        docker push ghcr.io/${{ env.BASE_IMG_NAME }}/p2-compose-worker:latest
  build-update-status-worker:
    runs-on: ['lol']
    permissions:
      contents: read
      packages: write
    steps:
    - name: Check out the repo
      uses: actions/checkout@v3
    - name: Log in to registry
      uses: docker/login-action@v2 
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Derive short SHA name
      id: vars
      run: echo "::set-output name=sha_short::$(git rev-parse --short HEAD)"
    - name: Build image
      run: |
        docker build . --file Dockerfile-update --no-cache \
        --tag ghcr.io/${{ env.BASE_IMG_NAME }}/p2-update-status-worker:${{ steps.vars.outputs.sha_short }} \
        --tag ghcr.io/${{ env.BASE_IMG_NAME }}/p2-update-status-worker:latest
    - name: Publish the image
      run: |
        docker push ghcr.io/${{ env.BASE_IMG_NAME }}/p2-update-status-worker:${{ steps.vars.outputs.sha_short }}
        docker push ghcr.io/${{ env.BASE_IMG_NAME }}/p2-update-status-worker:latest